body {
    background: rgb(74, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 400px;
    height: 400px;
    background: rgb(37, 204, 120);
    display: flex;
    justify-content: center;
    align-items: center;
}